<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <label for="">Digite seu filme favorito:</label>
        <input type="text" id="filme">
        <button onclick="filme()">adicionar filme</button>

        <label for="">Digite sua série favorita:</label>
        <input type="text" id="serie">
        <button onclick="serie()">adicionar Serie</button>


        <script>
            /*var a=['a', 'b', 'c', 'd', 'e', 'f'];
            var palavra= a[0] + a[0];
            document.write(palavra); */
            
            /*var a =[['game of trones', 'the big '], ['cobra kai', 'greys anatomy']];
            document.write(a[0][0]); */
    
            var array=[[],[]]   ;
            var filme=document.getElementById('filme');
            var serie=document.getElementById('serie');



        </script>
</body>
</html>