<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.7.1.min.js'></script>


</head>
<body id="pagina">
        <label for="">digite:</label>
        <input type="text" id="informacao">
        <ul id="lista">
        </ul>
        <button id="alterar">mudar cor</button>


<script>
 

   //. Adicionar itens a uma lista. Objetivo: Inserir itens em uma <ul> com base em um input.
   $(document).ready(function(){
    $('#alterar').click(function(){
       var informacao= $('#informacao').val()
       //$('#lista').append($('<li>').text(informacao));

       var linha= $('#lista').append('<li>'  + informacao + '</li>')
      

    })
   })
</script>
</body>
</html>