{% extends "base.html" %}

{% block titulo %} Essa é derivada {% endblock%}

{% block conteudo %}
<img src="{{ url_for('static', filename='img/contato.png') }}"alt="Logo do site">
<div class="container">
    <form action="" method="post">
        <label for="">Digite seu nome:</label><br>
        <input type="text"><br>
    
        <label for="">Digite seu email:</label><br>
        <input type="text"><br>
    
        <label for="">Digite uma mensagen:</label><br>
        <input type="text"><br>
    </form>
</div>

{% endblock%}