
    <h1>Login</h1>
    <form action="/inserir" method="post" >
    {{ form.hidden_tag() }}
    <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
    </p>
    <p>
    {{ form.email.label }}<br>
    {{ form.email(size=32) }}
    </p>

     <p>
    {{ form.password_hash.label }}<br>
    {{ form.password_hash(placeholder="Mínimo de 6 caracteres", size=32, minlength=6) }} <br/>
    </p>

    <p>
    {{ form.password2.label }} <br/>
    {{ form.password2(placeholder="Repita a senha", size=32, minlength=6) }} <br/>
    </p>

    <p>
        {{ form.submit()}} <br/>
        </p>
    </form>