<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="https://img.cdndsgni.com/preview/10180153.jpg" alt="" id="semaforo" onclick="alternarCores()" width="600px" >
    <button onclick="alternarAnimal()">Alterar</button>
    <p id="mensagem"></p>
    <script>
      /* function alternarLampada() {
      var lampada = document.getElementById('lampada');

      if (lampada.src.includes('bulboff')) {
        lampada.src = "http://www.w3schools.com/js/pic_bulbon.gif";
      } else {
        lampada.src = "http://www.w3schools.com/js/pic_bulboff.gif";
      }
    }*/

    function alternarAnimal() {
      var semaforo = document.getElementById('semaforo');

      if (semaforo.src.includes('10180153')) {
        semaforo.src ="https://i.pinimg.com/736x/77/e5/ef/77e5ef50029fc3a1263b9261ed272115.jpg";
        var amarelo=document.createElement('p');
        mensagem.textContent='Amarelo';
        

      } else if(semaforo.src.includes('i.pinimg')) {
        semaforo.src="https://img.freepik.com/fotos-gratis/sala-vazia-de-fundo-de-estudio-abstrato-gradiente-verde-simples-de-luxo-com-espaco-para-seu-texto-e-imagem_1258-88714.jpg";
        mensagem.textContent='verde';
     

      }
      else {
        semaforo.src = "https://img.cdndsgni.com/preview/10180153.jpg";
        mensagem.textContent='vermelho'
      }
    }


    </script>

</body>
</html>