<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: blue;
        }
    </style>
</head>
<body>
    <p id="paragrafo">bom dia</p>
    <p id="paragrafo">bom dia</p>
    <ul id="lista_teste">
        <li>Elemento</li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
   $(document).ready(function () {
$('#lista_teste').find('li').each(function() {
$(this).html($(this).html() + 'ola mundo');
});
});
    </script> 
</body>
</html>