<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.7.1.min.js'></script>

    <style>
        .paragrafo{
          background-color: blue;
        }
    </style>
</head>
<body>
   
     <p>ola</p>
     <p >ola, bom dia </p>
    <script>
        //Crie uma página HTML com dois parágrafos, ambos
//com o mesmo estilo CSS. Ao se passar o mouse sobre
//o parágrafo 1, o estilo CSS deste parágrafo deve
//mudar. Quando o mouse sair do parágrafo 1, deve
//retornar ao primeiro estilo. Implemente o mesmo
//comportamento para o parágrafo 2. Todo o
//comportamento da página deve ser implementado em
//jQuery. 
    $(document).ready(function () {
        
      /*  $('p').mouseover(function(){
          $(this).addClass('paragrafo')
        })*/
        $('p').mouseover(function(){
          $(this).css('color', 'blue')
        })
    })
    </script>
   

</body>
</html>