<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
    // Exercícios sobre lista
    // var nome = prompt("Digite seu nome: ");
    //var cor = prompt("Digite sua cor preferida: ");
   // var comida = prompt("Digite sua comida preferida: ");
   // var musica = prompt("Digite sua musica preferida: ");
   // var informacoes= [nome, cor, comida, musica];


    //document.write("Olá,", informacoes[0], " analisei suas preferências e estou vendo que sua cor preferida é ", informacoes[1], ",\n seu prato preferido é ", informacoes[2], " macarrão e que você gosta de ouvir ", informacoes[3], " \n agora que já sei de tudo isso, vou selecionar as melhores notícias para você ler hoje!");//
    
    //var quantidade = 26;

    //var alfabeto=prompt('Digite as 26 letras do alfabeto sequencialmente:');
   // alfabeto.repeat(quantidade);
   
   //Exercício sobre condições
   /* var idade = prompt("Digite sua idade: ")
    if(idade >= 0 && idade <= 15){
        document.write('Você é criança');
} 
    else if (idade >=15 && idade <= 30){
document.write('Você é jovem');
}

else if (idade >=30 && idade <= 60){
document.write('Você é adulto');
}
else if (idade >=60){
document.write('Você é idoso');
}*/

//EXERCICIO2
var m= prompt('Digite sua massa corporal:');
var nome= prompt('Digite seu nome:');

if(m < 16){
       var mensagem='Baixo peso muito grave';
       document.write(nome, " possui índice de massa corporal igual  a ", m, " sendo classificado como: ", mensagem )

}    
    else if (m > 16 && m < 16.99){
     var g=document.write('Baixo peso grave');
}

else if (m > 18.50 && m < 24.99){
var n=document.write('Peso normal');
}

//exercicio criar aplicação para consultas de tabuada usando while
/*var x = 0;
var y= prompt('Digite um número:');
while(x<=10){
    var z = x*y;
    document.write(y, 'x', x, '=', z,'</br>');
     x++;}*/
    </script>
</head>
<body>
    
</body>
</html>