<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Document</title>
    <script src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.7.1.min.js'></script>

    <style>
        .pares{
            background-color: blueviolet;
        }
        .impares{
            background-color: blue;
        }
    </style>
</head>
<body>
    <!--• Faça uma tabela em HTML
• Crie duas classes CSS. Cada uma delas deve
adicionar uma cor de fundo a uma linha da tabela.
• Usando JQuery, adicione uma classe às linhas pares e
outra classe às linhas ímpares da tabela.-->
    <table >
        <tr class="impar">
            <td>bom dia</td>
            <td>bom dia</td>
            <td>bom dia</td>
        </tr>
        <tr class="par">
            <td>bom dia</td>
            <td>bom dia</td>
            <td>bom dia</td>
        </tr>
        <tr class="impar">
            <td>bom dia</td>
            <td>bom dia</td>
            <td>bom dia</td>

        </tr>

        <tr class="par">
            <td>bom dia</td>
            <td>bom dia</td>
            <td>bom dia</td>
        </tr>
    </table>
    <script>

         $('.par').hover(function() {
            $(this).addClass('pares')
          });

          $('.impar').hover(function() {
            $(this).addClass('impares')
          });
    </script>
</body>
</html>