<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">

    //var linhas = prompt('Digite a quantidade de linhas:')
   // var colunas = prompt('Digite a quantidade de colunas:')

    function click() {
        var elemento = document.getElementById("linhas");
        elemento.remove();
        
}

 var linhas=alert(document.getElementById("linhas").innerHTML);
 var colunas=   alert(document.getElementById("colunas").innerHTML);

   function tabela(linhas,colunas){

     var tabela=linhas * colunas;
     var exemplo=document.getElementById("exemplo").innerHTML;

 }

     function clique() {
}



    </script>
</head>
<body>
    <label>linhas:</label>
    <input id="linhas">

    <label >colunas:</label>
    <input id="colunas">


    <table id="exemplo">
        <tr id="colunas">
          <th id="linhas"></th>
          
        </tr>
    </table> 
    <button onclick="click()">criar</button>

    <button onclick="click()">Remover</button>
</body>
</html>